*{margin: 0; padding:0}

body {
    background-color: #f5683d;
    padding-top: 100px;
}

.form-container {

    width: 500px;
    height: auto;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000;
    margin: auto;
    position: relative;
}

.user{
    background:url("WEB-INF/user.png") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: 100%;
    top: -70px;
    left: 225px;
}

ul.list {
     List-style-type: none;
     padding-left: 120px ;
 }

ul.list li {

    padding-top: 10px;

}

.loginButton{
    height: 50px;
    width: 250px;
    font-weight: bold;


    font-size: 16px;
    display: inline-block;
    background: orange;
    color: black;

}
.loginButton:hover {background: pink;}

.accountButton{
    height: 50px;
    width: 250px;
    font-weight: bold;

    font-size: 16px;
    display: inline-block;
    background: orange;
    color: black;
}
.accountButton:hover {background: pink;}


.forgotPassButton{
    height: 50px;
    width: 250px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    background: orange;
    color: black;
}
.forgotPassButton:hover {background: pink;}